<h2>Child Component</h2>
<br>
<!-- <h3>Name is <b>{{namedata}}</b> and mark is {{markdata}}</h3> -->
<h3>Name is <b>{{objdata.name}}</b> and mark is {{objdata.mark}}</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>name</th>
            <th>mark</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listarray">
            <td>{{item.name}}</td>
            <td>{{item.mark}}</td>
        </tr>
    </tbody>
</table>
<br>

<input class="form-control" #name>
<br>
<a class="btn btn-primary" (click)="dataupdateevent.emit(name.value)">Click</a>
<!-- <h2>Welcome to {{channelname}}</h2> -->